body {
	font-family: helvetica;
	background: url(mountain_stars.jpeg);
	background-repeat: none;
	background-position: center;
	background-size: cover;
}
#header {
	display: none;
}
#header h1 {
	font-size: 80px;
	font-family: 'Pathway Gothic One', sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 200px;
}
#header p {
	font-size: 40px;
	font-family: 'Pathway Gothic One', sans-serif;
	color: #fff;
	text-align: center;
	text-transform: lowercase;
	padding-bottom: 200px
}
.nav li {
	display: inline;
	padding: 0px 0px 0px 50px;
	font-size: 18px;
	text-align: left;
}
.nav li a {
	text-decoration: none;
	color: #fff;
}
.nav li a:hover {
	text-decoration: underline;
}
.nav {
	background: #000;
	width: 100%;
	border-radius: 10px;
}
.nav ul {
	padding: 15px;
}
#about_me {
	display: none;
	max-width: 800px;
	padding: 20px;
	margin: auto;
	background: rgba(255, 255, 255, 0.7);
	min-height: 500px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px;
	margin-bottom: 5%;
}
#footer {
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-bottom: 50px;
}
#footer p {
	display: inline;
	padding: 0px 0px 0px 30px;
}
#footer a {
	text-decoration: none;
	color: #fff;
}
img {
	height: 200px;
	width: 200px;
	float: right;
	border-radius: 150px;
	opacity: .8;
	border: solid 5px #fff;
}
@media (max-width: 500px) {
	.nav h1 {
		font-size: 50px;
	}
	.nav li {
		display: block;
		text-align: center;
		padding: 5px;
	}
	#footer p {
		display: block;
	}
	
}